<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
  </head>

  <body>
    <%= render partial: 'shared/navbar'%>

    <div class="container mx-auto mt-20 px-8"> 

      <%= render partial: 'shared/alert' if alert.present? %>
      <%= render partial: 'shared/notice' if notice.present? %>

      <%= yield %>

    </div>
  </body>
</html>
